{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block content %}
<h1>Votre Panier </h1>

{% if items is empty %}

<img class="border-bg" src="{{ asset ('assets/img/oops.jpg')}}" alt="oops" title="oops !">
<p class="my-4 bold"> Votre panier est vide ! </p>
<h3 ><a class="my-5 btn btn-perso" href="{{ path ('formations')}}">Visiter la boutique </a></h3>

{% else %}
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.product.price|number_format(2, ',', ' ') }} €</td>
                    <td> <a class="btn btn-perso-dark" href="{{ path ('cart_delete_one', {id: item.product.id})}}">-</a> <span class="mx-4">{{ item.qty }}</span> <a class="btn btn-perso" href="{{ path ('cart_add', {id: item.product.id})}}">+</a> </td>
                    <td>
                        <a href="{{ path('cart_delete', {id: item.product.id })}}" onclick="return confirm('Etes-vous sûr de vouloir supprimer l'article du panier ?');">Supprimer l'article</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot class="bold">
                <td> Total : </td>
                <td> {{ total|number_format(2, ',', ' ') }} €</td>
                <td > Vider le panier : </td>
                <td> <a class='btn btn-outline-perso' href="{{ path('cart_remove')}}"  onclick="return confirm('Etes-vous sûr de vouloir vider tout le panier ?');">Supprimer le panier </a></td>
            </tfoot>
            
        </table>  
    </div>
        
        <a class='btn btn-perso my-5' href="{{ path('cart_validate')}}">Valider mon panier </a>
        {% endif %}
        {% endblock %}
        
        
        