{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block content %}
<h1>Votre Panier </h1>
<table class="table">
    <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.product.price }} €</td>
                <td> <a class="btn btn-perso" href="{{ path ('cart_add', {id: item.product.id})}}">+</a> <span class="mx-4">{{ item.qty }}</span> <a class="btn btn-perso-dark" href="{{ path ('cart_delete_one', {id: item.product.id})}}">-</a> </td>
                <td>
                    <a href="{{ path('cart_delete', {id: item.product.id })}}"><i class="fas fa-trash">Supprimer</i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    
</table>  

<h3 class="my-5"> Total : {{ total|number_format(2, ',', ' ') }} € </h3>

<a class="btn btn-perso my-5" href="{{ path ('payment_checkout')}}"> Payer avec Stripe</a>

<form action="/checkout" method="post">
    <button class="btn btn-primary" type="submit">PAYER vraiment</button>
</form>

<hr class="mx-5">

<h2> Confirmez votre commande en remplissant ce formulaire</h2>
{{ form_start(confirmationform, {'action': path('order_validation')}) }}

{{ form_widget(confirmationform) }}
 
{{ form_end(confirmationform) }}

{% endblock %}


