{% extends 'base.html.twig' %}

{% block title %}Catégories {% endblock %}

{% block content %}

<h2>{{ products.0.idcategory.name}}</h2>

<div class="container-fluid my-5">
    <div class="row">

    {% for product in products %}
    <div class="card col-4" style="width: 18rem;">
  <img src="{{ asset('uploads/')}}{{ product.image }}" class="card-img-top" alt="{{ product.title}}">
  <div class="card-body">
    <h5 class="card-title">{{ product.title}}</h5>
       <h5 class="card-title">{{ product.price}} €</h5>
    <p class="card-text">{{ product.description}}</p>
    <a href="{{ path('cart_add', {id: product.id })}}" class="btn btn-primary">Ajouter au panier</a>
      <a href="{{ path('front_product', {id: product.id})}}" class="btn btn-danger">Details</a>
  </div>
</div>
    {% endfor %}


    </div>
</div>

{% endblock %}