{% extends 'base.html.twig' %}

{% block title %}My-Shop : panier{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Votre panier</h1>

    {{ dump(items) }}

    {% if items is empty %}
    <p><b>Votre panier est vide !</b></p>
    {% else %}
    <a href="{{ path('cart_clear') }}" onclick="return confirm('Etes-vous sure de vouloir vider tout le panier ?');" class="btn btn-warning mb-2">
        <i class="bi-trash-fill me-1"></i> Vider le panier
    </a>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Prix (€)</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <th scope="row">{{ item.product.id }}</th>
                <td>{{ item.product.title }}</td>
                <td>{{ item.product.price|number_format(2,',',' ') }} €</td>
                <td>{{ item.quantity }}</td>
                <td>{{ (item.product.price * item.quantity)|number_format(2,',',' ') }} €</td>
                <td>
                    <a class="btn btn-danger flex-shrink-0" onclick="return confirm('Supprimer cet élément du panier ?');" href="{{ path('cart_delete', {id: item.product.id})}}">
                        <i class="bi-trash-fill me-1"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">TOTAL</td>
                <td>{{ totalQuantity }}</td>
                <td>{{ total|number_format(2,',',' ') }} €</td>
                <td>
                    <form action="/checkout" method="post">
                        <button class="btn btn-primary" type="submit">PAYER</button>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>
    {% endif %}
</div>
{% endblock %}
