{% extends 'base.html.twig' %}

{% block title %}
Tableau de bord
{% endblock title %}

{% block main %}

<p> Vous êtes bien connecté en tant qu'administrateur {{ app.user.userIdentifier }}</p>

<p>Que souhaitez vous faire ? </p>

<section>
    <p> Modifier le contenu du site </p>

    <div><a class='btn btn-success' href="{{ path ('create_category')}}"> Ajouter une catégorie</a>
    <a class='btn btn-success' href="{{ path ('show_category')}}"> Voir les catégories</a></div>
</br>
    <div>
    <a class='btn btn-primary' href="{{ path ('create_product')}}"> Ajouter un produit</a>
    <a class='btn btn-primary' href="{{ path ('show_product')}}"> Voir tous les produits</a>
    </div>
</br>
    <div>
    <a class='btn btn-secondary' href="{{ path ('create_article')}}"> Ajouter un article du Blog</a>
    <a class='btn btn-secondary' href="{{ path ('show_article')}}"> Voir les articles du blog</a>
    </div>
</section>
</br>
<section>
    <p> Accéder aux statistiques et commentaires  </p>
    <a href=""> Voir les dernières commandes </a>
    <a href=""> Voir les avis</a>
    <a href=""> Statistiques </a>
</section>

{% endblock main %}