<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="icon" href=" {{ asset ('assets/img/icon.png') }}">
        
        {% block stylesheets %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ezfmEM0AQA4VvACr2X9O8t4XHzlFnmdvi5EWf5Fv0H8eVhUom8sGNclbxFfmL9Rn" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{{ asset ('assets/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}">
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset ('assets/js/script.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{ path ('home')}}"><img src="{{ asset ('assets/img/logo-line.png') }}" alt="logo" title="logo" height="80px"></a>
            <nav>
                <a href="{{ path ('formations')}}">Boutique</a>
                <a href="{{ path ('blog')}}">Blog</a>
                <a href="{{ path ('forum')}}"> Forum </a>
                {% if app.user %}
                <a href="{{ path ('app_logout')}}">Déconnexion</a>
                <a href="{{ path ('account')}}" id='account-link'><img src="{{ asset ('assets/img/account.png') }}" alt="account logo" id='account-logo'></a>
                <a href="{{ path ('cart_show')}}" id='cart-link'>
                    <img src="{{ asset ('assets/img/panier.png') }}" alt="account logo" id='cart-logo'>
                    <span class="badge bg-dark ms-1 rounded-pill">
                        {{ app.session.get('cart') ? app.session.get('cart') | length : '0'}}
                    </span>
                </a>
                {% else %}
                <a href="{{ path ('app_login')}}">Connexion</a>
                {% endif %}
                
                {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-perso" href="{{ path ('dashboard')}}">Tableau de Bord</a>
                {% endif %}
            </nav> 
        </header>
            
        <main>

        
        
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}
        
        {% endblock body %}

        {% block main %}
        
        {% block content %}
            
        {% endblock content %}

        {% endblock main %}

        </main>

        <footer>
            <section id="nav-column">
                <section class="nav-column"> 
                    <h2><a href="https://coachingdevperso.fr">Coaching</a> </h2>
                    <h2><a href="https://coachingdevperso.fr">Dev-Perso.fr</a> </h2>
                    <a href="https://coachingdevperso.fr"><img src="{{ asset ('assets/img/logo.png')}}" alt="logo"></a>
                </section>
                <section class="nav-column"> 
                    <nav>
                        <h3>Navigation</h3>
                        <a href="{{ path ('home') }}">Accueil</a>
                        <a href="{{ path ('mapsite') }}">Plan du site</a>
                        <a href="{{ path ('contact') }}">Contact</a>
                        <a href="{{ path ('valonauteinc') }}" target ="_blank">EasyWebFactory Inc.</a>
                        <button><a href="{{ path ('careers') }}">On Recrute </a></button>
                    </nav>
                </section>
                <section class="nav-column">
                    <nav>
                        <h3>Suivez-nous</h3>
                        <a href="https://instagram.com/coaching.devperso" target ="_blank">Instagram</a>
                        <a href="https://Facebook.com/valonaute" target ="_blank">Facebook</a>
                        <a href="https://www.youtube.com/channel/UC5KXcAr204aLa6F2-4hapGw" target ="_blank">Youtube</a>
                        <a href="https://github.com/valonaute" target ="_blank"> Github </a>
                        <a href="https://linkedin.com/in/valonaute" target ="_blank"> Linkedin </a>
                    </nav>
                </section>
            </section>
            <section id="espace">
            </section>
            <section id="footer">
                <h4> &copy; 2023 EASYWEBFACTORY INC. </h4>
                <p> Made with 🤍</p>
                <nav>
                    <a href="{{ path ('cgu') }}">Légales</a>
                    <p> | </p>
                    <a href="{{ path ('rgpd') }}">Confidentialité</a>
                </nav>
            </section>
        </footer>
    </body>
</html>

